<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfGB59SlQH9GPvMjBVHyAKo1BvBJvGWnM</string>
	<key>GCM_SENDER_ID</key>
	<string>906177843909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hi</string>
	<key>PROJECT_ID</key>
	<string>hichat-1c68d</string>
	<key>STORAGE_BUCKET</key>
	<string>hichat-1c68d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906177843909:ios:e4d0eb6106f405723556ac</string>
</dict>
</plist>